 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    padding: 10px;
    background: rgb(41, 41, 41);
    position: fixed;
    width: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    top: 0;
    cursor: pointer;

}

.logo{
    width: 15%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #a6d32b;
    /* font-family: montserrat; */
    padding: 0px 10px;
    font-size: 25px;
    /* font-weight: bold; */
    font-style: italic;
}

.nav-list{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 5px 10px;
    /* align-items: ; */

}

.nav-list li a{
    text-decoration: none;
    color: white;
    padding: 7px 30px;
    font-family: ubuntu;
    font-size: 17px;
    /* font-weight: bold; */
    letter-spacing: 0.05em;
    text-transform: none;
}

.nav-list li a:hover, .nav-list li a.active{
    /* color: grey; */
    /* border: 2px solid white; */
    /* padding: 5px 28px; */
    border-radius: 5px;
    background: rgb(58, 58, 58);
}

.dropdown {
    display: none;
}

.nav-list li:hover .dropdown{
    display: block;
    position: absolute;
    background: rgb(41, 41, 41);
    margin-top: 5px;
    /* margin-left: 15px; */
}

.nav-list li:hover .dropdown ul{
    display: block;
    margin-top: 10px;
}

.nav-list li:hover .dropdown ul li{
    padding: 10px;
}


.rightNav{
    text-align: right;
    /* width: 20%; */
    padding: 0px 30px;
    display: flex;
}

.dis{
    padding: 0px 5px;
}


.btn{
    padding: 8px 17px;
    /* border-radius: 6px; */
    border: 1px solid #a6d32b;
    background: #a6d32b;
    color: white;
    font-size: 16px;
    font-family: Ubuntu;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.btn:hover{
    background: #90b91e;
}

.user{
    color: white;
    text-decoration: none;
    /* text-align: center; */
    /* justify-content: center; */
    /* align-items: center; */
    padding-right: 10px;
    font-family: 'Ubuntu';
    font-size: 17px;
    margin-top: 8px;
}

.fa{
    padding-right: 5px;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: white;
}

.img{
    background:  url(../img/slider5.jpg);
    /* height: 600px; */
    background-size: cover;
    background-blend-mode: darken;
 }

/* .background{
    background: rgba(0, 0, 0, 0.7) url('bg.jpg');
    height: 100vh;
    background-size: cover;
    background-blend-mode: darken;
 } */

.firstSection{
    height: 100vh;
}


 .box-main{
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     flex-direction: column;
     /* width: 80%; */
     padding: 19%;
     height: 100%;
     margin-top: auto;
     text-align: center;
}

.textBig{
    padding: 5px;
    font-size: 38px;
    /* margin-top: 20%; */
}

.textSmall{
    padding: 8px;
    font-size: 20px;
}


.btn1{
    margin: 6px 0px;
    padding: 5px 35px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid white;
    background: none;
    color: white;
    cursor: pointer;
    font-family: Ubuntu;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.btn1:hover{
    background: rgb(58, 58, 58);
}

.section{
    background: #353535;
    padding: 120px 0 90px
}

.sec1{
    /* position: relative; */
    min-height: 1px;
    padding: 0px 100px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    /* margin: 50px 20px; */
    /* max-width: 50%; */
}

h2{
    display: flex;
    /* font-size: 16px; */
    margin-block-end: 20px;
    color: white;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: none;
}

.text{
    margin: 7px 0px;
    line-height: 25px;
    text-align: justify;
    font-family: ubuntu;
    font-weight: 400;
    /* font-size: 18px; */
    color: white;
}

.contact{
    background-color: whitesmoke;
    padding: 20px 10px;
}

h1{
    text-align: center;
    font-family: ubuntu;
    margin-top: 20px;
}

.form{
    margin: auto;
    /* justify-content: center; */
    /* align-items: center; */
    max-width: 80%;
}

.form-input{
    width: 100%;
    padding: 9px;
    margin: 20px 0px;
    font-family: ubuntu;
}

.btn-dark{
    margin: 5px 0px;
    padding: 8px 32px;
    text-align: center;
    font-size: 16px;
    /* border-radius: 5px; */
    border: 1px solid #a6d32b;
    background: #a6d32b;
    color: white;
    cursor: pointer;
    font-family: Ubuntu;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}

.footer{
    background: #000000;
    padding: 20px 0;
    text-align: center;
}

.copyright{
    color: white;
    font-family: ubuntu;
    justify-content: center;
    margin: auto;
}

.social-container {
	margin: 20px 0;
}

.social-container a {
    border: 2px solid #a6d32b;
    color: #a6d32b;
    text-decoration: none;
    border-radius: 50%;
    display: inline-flex;
    font-size: 1.25em;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
    height: 50px;
    width: 50px;
}

/* Jobs */

.container{
    display: flex;
    font-family: ubuntu;
    width: 80%;
    justify-content: center;
    /* align-items: center; */
    margin: auto;
    margin-top: 90px;
    /* font-family: ubuntu; */
}

.job_listings{
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}

ul.job_listings li {
    border-bottom: 1px solid #e4e4e4;
    display: table;
    padding: 0;
    width: 100%;
}

ul.job_listings li a {
    color: black;
    display: block;
    padding: 30px 100px 30px 0;
    position: relative;
}

.job_listings li a .image {
    position: absolute;
    right: 0;
    top: 30px;
}

.job_listings li a .image img {
    max-height: 70px;
    max-width: 70px;
}

.job_listings li a .description h3 {
    font-family: ubuntu;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

ul.job_listings li a .description ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.job_listings li a .description ul li {
    border: 0;
    display: inline-block;
    margin-right: 1em;
    /* width: auto; */
}

.jobheader{
    justify-content: center;
    text-align: center;
    /* display: flex; */
    font-size: 30px;
    margin-block-end: 20px;
    /* color: white; */
    font-family: Montserrat;
    font-weight: bold;
    /* letter-spacing: 0.05em; */
    text-transform: none;
    /* border-bottom: 2px solid gray; */
}

h4{
    margin: -25px;
    color: #a6d32b;
}

.load{
    margin: 5px 0px;
    padding: 8px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #a6d32b;
    background: #a6d32b;
    color: white;
    cursor: pointer;
    /* font-family: Ubuntu; */
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    margin-top: 15px;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    margin: 5px 3px;
    height: 4px;
}

/* responsive */

@media only screen and (max-width: 1000px){
    .navbar{
        flex-direction: column;
        padding: 5px 0px;
        transition: all .5s ease-out;
        height: 330px;
    }

    .rightNav{
        flex-direction: column;
    }

    .nav-list{
        flex-direction: column;
        margin: 20px;
    }

    .nav-list li{
        margin: 5px;
    }

    .rightNav{
        flex-direction: column;
    }

    .dis{
        padding-bottom: 8px;
        padding-right: 10px;
    }

    .user{
        padding-bottom: 10px;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .burger{
        display: block;
    }

    .h-nav-resp{
        height: 60px;
    }

    .visibility-resp{
        opacity: 0;
    }

    .dropdown {
        display: none;
    }

    .nav-list li:hover .dropdown{
        display: inline-block;
        background: rgb(41, 41, 41);
        margin-top: -15px;
        /* margin-left: -20px; */
    }


    /* .nav-list li:hover .dropdown ul{
        display: block;
        margin: 10px;
    } */

    /* .nav-list li:hover .dropdown ul li{
        padding: 10px;
    } */


}